Here is a function signature:

{{function_signature}}

Extract the arguments from the following function text input in the format of "argument_name{{ field_delimiter }}argument_value" with a new line separating arguments:

"""{{user_prompt}}"""
