fastapi==0.88.0
uvicorn==0.20.0
pydantic==1.10.4
PyYAML==6.0
openai==0.25.0
slowapi==0.1.7
sqlparse==0.4.3
Jinja2==3.1.2
python-dotenv==0.21.0
google-cloud-bigquery==3.4.1
datadog==0.44.*
JSON-log-formatter==0.5.*
