wheel
fastapi[all]==0.78.*
geojson-pydantic==0.4.2
authlib==1.0.1
starlette-authlib==0.1.11
SQLAlchemy==1.4.37
sqlalchemy-json==0.5.0
psycopg2==2.9.3
httpx==0.23.0
PyJWT==2.4.0
tenacity==8.0.*
alembic==1.8.*
celery[redis]==5.2.*
GitPython
pandas==1.4.2
botocore==1.27.61
awswrangler==2.16.1
