{#- Script to setup Snowflake data sharing for an account.

Requires the organization id (in the organziations table) and
the Snowflake account id of the organization.

Jinja templated Snowflake SQL.

-#}
{%- set org_uuid_safe = (organization_id | replace("-", "") | lower) %}
{%- set db_name = 'org_' ~ org_uuid_safe %}

-- Only accountadmin can create shares
USE ROLE sysadmin;

CREATE OR REPLACE DATABASE {{ db_name }};
CREATE OR REPLACE SCHEMA {{ db_name }}.geofencer;

{%- set shapes_external_table = "geofencer.exports.shapes_latest_" ~ org_uuid_safe  %}
CREATE OR REPLACE EXTERNAL TABLE {{ shapes_external_table }}
(
    id TEXT AS ($1:uuid::TEXT),
    name TEXT AS ($1:name::TEXT),
    geojson OBJECT AS (parse_json($1:geojson::TEXT)::OBJECT),
    created_at TIMESTAMP_NTZ AS ($1:created_at::TIMESTAMP_NTZ),
    updated_at TIMESTAMP_NTZ AS ($1:updated_at::TIMESTAMP_NTZ),
    exported_at TIMESTAMP_NTZ AS ($1:exported_at::TIMESTAMP_NTZ)
)
LOCATION = @geofencer.exports.shapes_stage/{{- organization_id -}}/latest/
REFRESH_ON_CREATE = True
AUTO_REFRESH = True
FILE_FORMAT = geofencer.exports.shapes_format
COMMENT = $$Latest geofencer shapes exported from organization {{ organization_id }}.$$;

CREATE OR REPLACE MATERIALIZED VIEW {{ db_name -}}.geofencer.shapes
COMMENT = $$Latest geofencer shapes exported from organization {{ organization_id }}.$$
AS
SELECT
    id,
    name,
    to_geometry(geojson) AS geometry,
    created_at,
    updated_at,
    exported_at
FROM {{ shapes_external_table }}
;